body{color:#3D3D3D;}
.fc00{color:#FFFFFF;}
.fc01{color:#117600;}
.fc02,.fc02 a{color:#6AA50D;}
.fc03,.fc03 a,.fc11 a{color:#6AA50D;}
.fc04,.fc04 a{color:#74B311;}
.fc05{color:#3D3D3D;}
.fc06{color:#777777;}
.fc07{color:#9E9E9E;}
.fc08{color:#E4F5DC;}
.fc09{color:#FFFFFF;}
.fc10{color:#6aa50d;}
.bdc0{border-color:#6aa50d;}
.bdc1{border-color:#46B136;}
.bdc9t{border-top-color:#FFFFFF;}
.bdc9r{border-right-color:#FFFFFF;}
.bdc9b{border-bottom-color:#FFFFFF;}
.bdc9l{border-left-color:#FFFFFF;}
.bgc0,.bgc9:hover, .bgc9.js-bgc9-hover{background-color:#EEEEEE;}
.bgc1{background-color:#FFFFFF;}
.bgc2{background-color:#5BC34C;}
.bgp0{background-image:url(img/-1.gif);}
.nb-body{background-color:#E4F5DC;}
.nb-bar{background:#5BC34C;}
.nb-top .wkg{background:url(img/top_banner.jpg) no-repeat left top;}
.nb-top .h{height:228px;}
.nb-top .t{color:#117600;top:120px;left:345px;font-family:Verdana,Arial,Helvetica,sans-serif,"ו";font-size:14px;}
.nb-top .n{font-size:30px;}
.nb-nav .wkg{background:url(img/bg_tab.jpg) no-repeat left top;}
.nb-nav .h{height:54px;line-height:54px;}
.nb-nav .l{width:242px;}
.nb-nav .r{width:200px;}
.nb-nav .c{margin:0 200px 0 242px;}
.nb-nav .i:hover{color:#000000;}
.nb-nav .selected{background:url(img/bg_top.gif) no-repeat right top;}
.nb-nav .selected .i, .nb-nav .selected .i:hover{color:#117600;font-weight:bold;font-size:14px;}
.nb-cnt .wkg{background:#92D973 url(img/bg_web_a.jpg) no-repeat left top;}
.nb-cnt .wl{display:block;width:35px;}
.nb-cnt .lg{background:url(img/bg_web_f_b.gif) repeat-y left top;}
.nb-cnt .lt{height:400px;background:url(img/bg_web_f_e.gif) no-repeat left top;}
.nb-cnt .wr{display:block;width:35px;}
.nb-cnt .rg{background:url(img/bg_web_f_d.gif) repeat-y left top;_right:-1px;}
.nb-cnt .rt{height:400px;background:url(img/bg_web_f_k.gif) no-repeat left top;_right:-1px;}
.nb-cnt .wc{margin:0 40px;}
.nb-fot .wkg{background:url(img/bg_web_b.jpg) no-repeat left top;}
.nb-fot .h{height:115px;}
.nb-fot .k{padding-top:30px;}
.nb-mdl{border:none;margin:6px;}
.nb-mdl .th{height:34px;line-height:34px;}
.nb-mdl .bh{height:20px;}
.nb-mt .tl{width:34px;background:url(img/bg_web_f_c.gif) no-repeat left top;}
.nb-mt .tc{margin:0 34px 0 34px;background:url(img/bg_web_f_g.gif) repeat-x left top;}
.nb-mt .tr{width:34px;background:url(img/bg_web_vv.gif) no-repeat left top;}
.nb-mt .tm{right:20px;}
.nb-mc{background-color:#FFFFFF;}
.nb-mc .cl{width:20px;background:url(img/bg_web_f_b1.gif) repeat-y left top;}
.nb-mc .cc{margin:0 20px;}
.nb-mc .cr{width:20px;background:url(img/bg_web_f_d1.gif) repeat-y left top;}
.nb-mb{display:block;}
.nb-mb .bl{width:14px;background:url(img/bg_web_f_h.gif) no-repeat left top;}
.nb-mb .bc{margin:0 14px 0 14px;background:url(img/bg_web_g1.gif) repeat-x left top;}
.nb-mb .br{width:14px;background:url(img/bg_web_i.gif) no-repeat left top;}
