BODY {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; COLOR: #293257; LINE-HEIGHT: 140%; PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-TOP: 10px; HEIGHT: auto; BACKGROUND-COLOR: #b5bada; background-image: url();  background-repeat: repeat-x; TEXT-ALIGN: left
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}

UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
OL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
A:link {
	COLOR: #293257; TEXT-DECORATION: none;
    font-size: x-small;
}
A:visited {
	COLOR: #293257; TEXT-DECORATION: none
}
A:active {
	COLOR: #666666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
.cGreen {
	COLOR: #060
}
A.cGreen:link {
	COLOR: #060
}
A.cGreen:visited {
	COLOR: #060
}
A.cGreen:hover {
	COLOR: #03c
}
.cRed {
	COLOR: #f00
}
A.cRed:link {
	COLOR: #f00
}
A.cRed:hover {
	COLOR: #03c
}
.cDRed {
	COLOR: #da0000
}
A.cDRed:link {
	COLOR: #da0000
}
A.cDRed:visited {
	COLOR: #da0000
}
A.cDRed:hover {
	COLOR: #666
}
.cBlack {
	COLOR: #000
}
A.cBlack:link {
	COLOR: #000
}
A.cBlack:hover {
	COLOR: #f00
}
.cWhite {
	COLOR: #fff
}
A.cWhite:link {
	COLOR: #fff
}
A.cWhite:visited {
	COLOR: #fff
}
A.cWhite:hover {
	COLOR: #00cc99
}
.cYellow {
	COLOR: #ff0
}
A.cYellow:link {
	COLOR: #ff0
}
A.cYellow:hover {
	COLOR: #ff0
}
.cgold {
	COLOR: #0A701D ; FONT-SIZE: 20px; FONT-FAMILY: "黑体";
}
A.cgold:link {
	COLOR: #0A701D ; FONT-SIZE: 20px;FONT-FAMILY: "黑体";
}
A.cgold:visited {
	COLOR: #0A701D ; FONT-SIZE: 20px;FONT-FAMILY: "黑体";
}
A.cgold:hover {
	COLOR: #c00 ; FONT-SIZE: 20px;FONT-FAMILY: "黑体";
}
.h6 {
	COLOR: #da0000 ; FONT-SIZE: 12px; FONT-FAMILY: "??";
}
A.h6:link {
	COLOR: #da0000 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
A.h6:visited {
	COLOR: #da0000 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
A.h6:hover {
	COLOR: #666 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
.c999 {
	COLOR: #999 ; FONT-SIZE: 12px; FONT-FAMILY: "??";
}
A.c999:link {
	COLOR: #999 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
A.c999:visited {
	COLOR: #999 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
A.c999:hover {
	COLOR: #c00 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
.c333 {
	COLOR: #333 ; FONT-SIZE: 12px; FONT-FAMILY: "??";
}
A.c333:link {
	COLOR: #333 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
A.c333:visited {
	COLOR: #333 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
A.c333:hover {
	COLOR: #c00 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
.c666 {
	COLOR: #666 ; FONT-SIZE: 12px; FONT-FAMILY: "??";
}
A.c666:link {
	COLOR: #666 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
A.c666:visited {
	COLOR: #666 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
A.c666:hover {
	COLOR: #666 ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
.cfff {
	COLOR: #fff ; FONT-SIZE: 12px; FONT-FAMILY: "??";
}
A.cfff:link {
	COLOR: #fff ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
A.cfff:visited {
	COLOR: #fff ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
A.cfff:hover {
	COLOR: #ccc ; FONT-SIZE: 12px;FONT-FAMILY: "??";
}
.clu {
	COLOR: #293257 ; FONT-SIZE: 12px; LINE-HEIGHT: 180%; FONT-FAMILY: "??";
}
A.clu:link {
	COLOR: #293257 ; FONT-SIZE: 12px; LINE-HEIGHT: 180%; FONT-FAMILY: "??";TEXT-DECORATION: underline
}
A.clu:visited {
	COLOR: #999999 ; FONT-SIZE: 12px; LINE-HEIGHT: 180%; FONT-FAMILY: "??";TEXT-DECORATION: underline
}
A.clu:hover {
	COLOR: #999999 ; FONT-SIZE: 12px; LINE-HEIGHT: 180%; FONT-FAMILY: "??";
}
.cgold1 {
	COLOR: #0A701D ; FONT-SIZE: 16px; FONT-FAMILY: "黑体";
}
A.cgold1:link {
	COLOR: #0A701D ; FONT-SIZE: 16px;FONT-FAMILY: "黑体";
}
A.cgold1:visited {
	COLOR: #0A701D ; FONT-SIZE: 16px;FONT-FAMILY: "黑体";
}
A.cgold1:hover {
	COLOR: #c00 ; FONT-SIZE: 16px;FONT-FAMILY: "黑体";
}
.cgold2 {
	COLOR: #0A701D ; FONT-SIZE: 14px; FONT-FAMILY: "黑体";
}
A.cgold2:link {
	COLOR: #0A701D ; FONT-SIZE: 14px;FONT-FAMILY: "黑体";
}
A.cgold2:hover {
	COLOR: #c00 ; FONT-SIZE: 14px;FONT-FAMILY: "黑体";
}
.cg {
	COLOR: #326AB4 ; FONT-SIZE: 14px; FONT-FAMILY: "??"; 
}
A.cg:link {
	COLOR: #326AB4 ; FONT-SIZE: 14px;FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.cg:visited {
	COLOR: #326AB4 ; FONT-SIZE: 14px;FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.cg:hover {
	COLOR: #c00 ; FONT-SIZE: 14px;FONT-FAMILY: "??"; 
}
.cc {
	COLOR: #666666 ; FONT-SIZE: 14px; FONT-FAMILY: "??"; 
}
A.cc:link {
	COLOR: #666666 ; FONT-SIZE: 14px;FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.cc:visited {
	COLOR: #666666 ; FONT-SIZE: 14px;FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.cc:hover {
	COLOR: #c00 ; FONT-SIZE: 14px;FONT-FAMILY: "??"; 
}
.cc1 {
	COLOR: #333 ; FONT-SIZE: 14px; FONT-FAMILY: "??"; 
}
A.cc1:link {
	COLOR: #333 ; FONT-SIZE: 14px;FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.cc1:visited {
	COLOR: #333 ; FONT-SIZE: 14px;FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.cc1:hover {
	COLOR: #c00 ; FONT-SIZE: 14px;FONT-FAMILY: "??"; 
}
.cff {
	COLOR: #fff ; FONT-SIZE: 14px; FONT-FAMILY: "??"; 
}
A.cff:link {
	COLOR: #fff ; FONT-SIZE: 14px;FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.cff:visited {
	COLOR: #fff ; FONT-SIZE: 14px;FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A.cff:hover {
	COLOR: #c00 ; FONT-SIZE: 14px;FONT-FAMILY: "??"; 
}
.ch {
	COLOR: #c00 ; FONT-SIZE: 16px; FONT-FAMILY: "??";
}
A.ch:link {
	COLOR: #c00 ; FONT-SIZE: 16px;FONT-FAMILY: "??";
}
A.ch:visited {
	COLOR: #c00 ; FONT-SIZE: 16px;FONT-FAMILY: "??";
}
A.ch:hover {
	COLOR: #c00 ; FONT-SIZE: 16px;FONT-FAMILY: "??";
}
.cred1 {
	COLOR: #ff0000; 
}
A.cred1:link {
	COLOR: #ff0000; 
}
A.cred1:hover {
	COLOR: #cc0000 ; 
}
.cBlue {
	COLOR: #06c
}
A.cBlue:link {
	COLOR: #06c
}
A.cBlue:hover {
	COLOR: #f60
}
.cDBlue {
	COLOR: #00a
}
A.cDBlue:link {
	COLOR: #00a
}
A.cDBlue:hover {
	COLOR: #c00
}
.cOrange {
	COLOR: #f60
}
A.cOrange:link {
	COLOR: #f60
}
A.cOrange:hover {
	COLOR: #06c
}
.cGray {
	COLOR: #666
}
A.cGray:link {
	COLOR: #666
}
A.cGray:hover {
	COLOR: #f00
}
.cDGray {
	COLOR: #333
}
A.cDGray:link {
	COLOR: #333
}
A.cDGray:hover {
	COLOR: #f00
}
.unLine {
	TEXT-DECORATION: none
}
.fB {
	FONT-WEIGHT: bold
}
.fI {
	FONT-STYLE: italic
}
.f16px {
	FONT-SIZE: 16px
}
.f14px {
	FONT-SIZE: 14px
}
.f14pxfb {
	FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.f14pxfbb {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #983910
}
.f14pxfbc {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #983910
}
.f12px {
	FONT-SIZE: 12px
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.clear {
	CLEAR: both; FONT-SIZE: 1px; VISIBILITY: hidden; WIDTH: 1px
}
.hidden {
	DISPLAY: none
}
A.strokeT:link {
	COLOR: #fff; TEXT-DECORATION: none
}
A.strokeT:hover {
	COLOR: #ff0; TEXT-DECORATION: underline
}
#globalNav {
	FONT-SIZE: 12px; MARGIN: 2px auto 0px; WIDTH: 750px; TEXT-ALIGN: left
}
#globalNav INPUT {
	FONT-SIZE: 12px
}
#login {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; WIDTH: 750px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid
}
#formLogin {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; PADDING-BOTTOM: 0px; WIDTH: 330px; PADDING-TOP: 0px
}
#functionMenu {
	PADDING-RIGHT: 15px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
#functionMenu A:link {
	COLOR: black
}
#functionMenu A:visited {
	COLOR: black
}
#functionMenu A:hover {
	COLOR: red
}
#functionMenu A:active {
	COLOR: red
}
#menu A:link {
	COLOR: black; TEXT-DECORATION: none
}
#menu A:visited {
	COLOR: black; TEXT-DECORATION: none
}
#menu A:hover {
	COLOR: red; TEXT-DECORATION: none
}
#menu A:active {
	COLOR: red; TEXT-DECORATION: none
}
#menu UL {
	FLOAT: right; MARGIN: 4px 0px 0px 8px; WIDTH: 622px
}
#menu LI {
	PADDING-RIGHT: 0px; BACKGROUND-POSITION: right bottom; PADDING-LEFT: 0px; FLOAT: left; BACKGROUND-IMAGE: url(/img/nav_space.gif); PADDING-BOTTOM: 0px; WIDTH: 42px; PADDING-TOP: 5px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none; HEIGHT: 12px
}
#menu .end {
	BACKGROUND-IMAGE: none; WIDTH: 32px
}
#menu .current {
	FONT-WEIGHT: bold; COLOR: #8f6b45; LETTER-SPACING: -0.2em
}
.adTop750 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 750px; PADDING-TOP: 3px
}
.ad750 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 750px; PADDING-TOP: 3px
}
#foot {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 750px; LINE-HEIGHT: 150%; PADDING-TOP: 10px
}
#foot A {
	COLOR: #000
}
#foot A:hover {
	COLOR: #f00; TEXT-DECORATION: none
}
.img01 {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.img02 {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
.img03 {
	BORDER-RIGHT: #a5a5a5 1px solid; BORDER-TOP: #a5a5a5 1px solid; BORDER-LEFT: #a5a5a5 1px solid; BORDER-BOTTOM: #a5a5a5 1px solid
}
.news_date {
	FONT-SIZE: 12px; COLOR: #c3ac82
}
.title_more {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #4c4c4c; LINE-HEIGHT: 200%; HEIGHT: 30px
}
.news_title {
	FONT-SIZE: 12px; COLOR: #4c4c4c; LINE-HEIGHT: 160%
}
.news_title A:link {
	FONT-SIZE: 12px; COLOR: #4c4c4c; LINE-HEIGHT: 160%
}
.news_title A:visited {
	FONT-SIZE: 12px; COLOR: #4c4c4c; LINE-HEIGHT: 160%
}
.news_title A:hover {
	FONT-SIZE: 12px; COLOR: #4c4c4c; LINE-HEIGHT: 160%; TEXT-DECORATION: underline
}
.news_title A:active {
	FONT-SIZE: 12px; COLOR: #4c4c4c; LINE-HEIGHT: 160%; TEXT-DECORATION: underline
}
.topnews {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 160%
}
.topnews A:link {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 160%
}
.topnews A:visited {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 160%
}
.topnews A:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 160%; TEXT-DECORATION: none
}
.topnews A:active {
	FONT-SIZE: 12px; COLOR: #ff0000; LINE-HEIGHT: 160%; TEXT-DECORATION: none
}
.news_title2 {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 160%
}
.news_title2 A:link {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 160%
}
.news_title2 A:visited {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 160%
}
.news_title2 A:hover {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 160%; TEXT-DECORATION: underline
}
.news_title2 A:active {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 160%; TEXT-DECORATION: underline
}
.topNews_title {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #a77c33; LINE-HEIGHT: 200%
}
.topNews_title:link {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #a77c33; LINE-HEIGHT: 200%
}
.topNews_title:visited {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #a77c33; LINE-HEIGHT: 200%
}
.topNews_title:hover {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #a77c33; LINE-HEIGHT: 200%; TEXT-DECORATION: underline
}
.topNews_title:active {
	FONT-WEIGHT: bolder; FONT-SIZE: 12px; COLOR: #a77c33; LINE-HEIGHT: 200%; TEXT-DECORATION: underline
}
.topNews_text {
	FONT-SIZE: 12px; COLOR: #4c4c4c
}
.title_left {
	COLOR: #979797; LINE-HEIGHT: 160%
}
.emText {
	COLOR: #7f7f7f; LINE-HEIGHT: 180%; FONT-STYLE: italic
}

HR {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; COLOR: #dddddd; HEIGHT: 1px; BACKGROUND-COLOR: #dddddd; BORDER-RIGHT-WIDTH: 0px
}
.left_link {
	PADDING-LEFT: 15px; FONT-SIZE: 10px; COLOR: #979797; FONT-FAMILY: Verdana
}
.left_link2 {
	FONT-SIZE: 12px
}
.menu_change2 {
	PADDING-LEFT: 20px
}

.menuleft_1st_level_normal {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px;  PADDING-BOTTOM: 4px; WIDTH: 100%; COLOR: #ffffff; FONT-WEIGHT: bold;PADDING-TOP: 4px; BORDER-BOTTOM: #f3f4ef 0px solid; HEIGHT: 11px; BACKGROUND-COLOR: #3E488F
}
.menuleft_1st_level_hover {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px;  PADDING-BOTTOM: 4px; WIDTH: 100%; COLOR: #293257;FONT-WEIGHT: bold; PADDING-TOP: 4px; BORDER-BOTTOM: #dcdcdc 0px solid; HEIGHT: 11px; BACKGROUND-COLOR: #B1B2D0
}
.menuleft_1st_level_active {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px;  PADDING-BOTTOM: 4px; WIDTH: 100%; COLOR: #293257;FONT-WEIGHT: bold; PADDING-TOP: 4px; BORDER-BOTTOM: #dcdcdc 0px solid; HEIGHT: 11px; BACKGROUND-COLOR: #D7D7E8
}
.menuleft_2nd_level_normal {
	PADDING-RIGHT: 4px; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; WIDTH: 100%; COLOR: #293257; FONT-SIZE: 14px;PADDING-TOP: 4px; BACKGROUND-COLOR: #D7D7E8
}
.menuleft_2nd_level_hover {
	PADDING-RIGHT: 4px; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; WIDTH: 100%; COLOR: #293257; PADDING-TOP: 4px; HEIGHT: 25px;BACKGROUND-COLOR: #E7E9F1
}
.menuleft_2nd_level_active {
	PADDING-RIGHT: 4px; PADDING-LEFT: 12px; PADDING-BOTTOM: 4px; WIDTH: 100%; COLOR: #338F59; PADDING-TOP: 4px; BACKGROUND-COLOR: #f3ecec
}
.mybg { 
background-image: url(images/n_02_3.gif); 
background-repeat: repeat-x;
background-color:#C3C9E1
} 
